@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
    font-style: italic;
}
body {
    font-family: "Montserrat", "Helvetica", sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    font-size: 24px;
    color: #fff;
    background-color: #303030;
    padding: 40px 60px;
    &__logo {
        width: 200px;
    }
    &__description {
        font-size: 18px;
        margin-bottom: 20px;
    }
}